{% include 'header.html' %}
    <div class="dashboard-container">
    <div class="upload-header">
        <h1>Asset List</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
        <div style="padding: 20px;">
            <label for="file-upload" class="BC-Gov-PrimaryButton">
                <i class="fas fa-upload"></i> Add Asset
                <input type="hidden" name="method" value="vrmprocess">
                <input type="file" name="file">
                <input type="submit" value="Upload">
            </label>
        </div>
    </form>
    </div>
    <div class="search-container">
        <input type="text" id="search-bar" placeholder="Search...">
    </div>
    <table>
        <thead>
            <tr>
                <th>Asset Name</th>
                <th>Asset Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sample Asset 1</td>
                <td>Type 1</td>
                <td>Edit | Delete</td>
            </tr>
            <tr>
                <td>Sample Asset 2</td>
                <td>Type 2</td>
                <td>Edit | Delete</td>
            </tr>
        </tbody>
    </table> 

</div>
{% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
    <script type="module">
        import { initializeKeycloak, logout } from './static/js/login.js';

    document.getElementById('login-button').addEventListener('click', () => {
        alert("login")
      initializeKeycloak();
    });

    document.getElementById('logout-button').addEventListener('click', () => {
      alert("logout")
      logout();
    });

   
  </script>