<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VRM</title>
    <link rel="icon" href="static\images\favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <header class="bc-header">
    <div class="container">
      <div class="banner">
       <a href="https://gov.bc.ca">
        <img src="static\images\bc-gov-logo.png" alt="Go to the Government of British Columbia website" />
       </a>
      </div>
      <div class="other"><h1 class="vrm_title">VRM</h1></div>
      <!-- <button class="BC-Gov-SecondaryButton-Dark" id="login-button" type="button" name="button">Log In</button>&nbsp;
      <button class="BC-Gov-SecondaryButton-Dark" id="logout-button" type="button" name="button">Sign Out</button> -->
    </div>
  </header>