body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.bc-header {
    background-color: #003366; /* BC Government blue */
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .fa-home{
    font-size:36px
} */

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav ul li {
    margin-left: 20px;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

.bc-footer {
    background-color: #003366; /* BC Government blue */
    color: white;
    padding: 20px 0;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px 0;
}

.footer-column h3 {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    gap: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 5px 0;
}

.footer-bottom a {
    color: white;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.bcgov-button {
    background-color: #036;
    color: white;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'BC Sans', Arial, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
    border-radius: 4px;
}

.bcgov-button:hover {
    background-color: #005f9e;
}

.bcgov-button:focus {
    outline: 3px solid #fcba19;
    outline-offset: 2px;
}

.bcgov-button i {
    margin-right: 8px;
}

.upload-container {
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 500px;
}
.upload-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upload-header h1 {
    font-family: 'BC Sans', Arial, sans-serif;
    color: #036;
    font-size: 24px;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}
.search-container {
    margin-bottom: 20px;
}

.search-container input[type=text] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
}